.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 5% 90% 5%;
}

li {
    display: inline;
    font-family: arial;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

.header {
    grid-row: 1 / 2;
}

.nav li {
    margin: 10px 10px;
}

.footer {
    grid-row: 3 / span 1;
}

.footer ul {
    background-color: rgba(233, 232, 232, 0.918);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    height: 60px;
    width: 100%;
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li:hover {
    text-decoration: underline;
}

.search {
    margin-top: 20px;
    margin-bottom: 30px;
}

.right ul {
    float: right;
}

.signin {
    color: white;
}

.buttons li{
    background-size: 50px 100px;
    background-color: rgba(233, 232, 232, 0.918);
    padding: 15px 15px;
    font-size: 14px;
}

.middle {
    text-align: center;
    grid-row: 2 / 3;
    margin: 20% 50% 80% 50%; /*top, right, bottom, left*/

    justify-items: center;
    justify-content: center;
}